@use 'colors' as colors;
@use 'mixins' as mixins;

:host {
    display: grid;

    .main {
        display: flex;
    }

    .content {
        padding: 16px;
        overflow-y: auto;
        height: 90vh;
    }
}

:host::ng-deep .login-container {
    margin-left: auto;
}